

body, a, .font-heading, .font-body, .form-control, {
    font-family: 'Poppins', sans-serif;
}

.heading .heading--title {
    font-family: 'Poppins', sans-serif;
}

.slider .slide--headline{
    font-size: 70px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 150px;
    align-items: flex-start;
}

.footer--social-icons a:last-of-type {
    margin-bottom: 50px;
}

